body {
    background-color: rgb(41, 41, 41);
    color: #FFBE40;
    font-family: monospace;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}
@media screen and (max-width: 480px) {
img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
}
@media screen and (min-width: 480px) {
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
    }
  }