body {
    background-color: rgb(41, 41, 41);
}
@media screen and (max-width: 480px) {
    video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
}
@media screen and (min-width: 480px) {
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
    }
  }